= form_with(model: @nweet, html: {class: 'nuita-form'}) do |f|
  = f.button "おめでとうございます🎉🎉🎉🎉🎉", disabled: true, class: "btn btn-block btn-nuita", id: "button-nuita"
  .statement-label やりましたね！今の気持ちを伝えてください。
  = f.text_area :statement, maxlength: 100, rows: 2, class: "statement form-control"
  = f.submit "情報を更新する！", class: "btn btn-block btn-nuita btn-edit"
